@media only screen and (max-width: 767px) {
	.timeline-table th, 
	.timeline-table-bottom th {
		word-spacing: 30px;
	}
}
@media only screen and (max-width: 767px) {
	/*.col-sm-3.count,
	.col-sm-9.tabbing	{
    padding-left: 0;
		padding-right: 0;
	}*/
	span.timeline-text-ongoing {
		position: inherit;
	}
}
@media only screen and (max-width: 585px) {
	ul.nav.nav-tabs li {
    width: 100%;
    margin: 1px 0;
	}
}
@media only screen and (max-width: 415px) {
	.tab-content, .carousel-inner, .timeline {
		overflow-x: auto;
	}
	table.tab tr.table-header td {
    padding: 0 10px;
	}
}

